mj-section
    mj-column
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="24px") location
mj-section(padding="20px 40px")
    mj-column(width="50%" padding="10px")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="24px") 15 mins
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="15px") tilal ai ghaf & dubai hills
    mj-column(width="50%" padding="10px")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="24px") 20 mins
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="15px") dubai airport & mall of the emirates
    mj-column(width="50%" padding="10px")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="24px") 25 mins
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="15px") dubai marina & palm jumeirah
    mj-column(width="50%" padding="10px")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="24px") 5 mins
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="15px") shops, schools & wellness
mj-section
    mj-column
        mj-button(padding="0" font-family="Montserrat, Arial, Helvetica, sans-serif" font-size="16px") Register your interest
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="13px") Copyright 2025. All rights reserved.
mj-section
    mj-column
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="12px") You are subscribed to this email as contact@ecosup-sante.fr
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="12px") Click here to modify your preferences or unsubscribe