mj-section(background-color="#002529")
    mj-column
        mj-divider(border-width="1px" border-style="solid" border-color="#dddddd")
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="28px" color="#ffffff") Own a Forest-Living Property in Dubai
        mj-divider(border-width="1px" border-style="solid" border-color="#dddddd")
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="22px" color="#ffffff") Ghaf Woods by Majid AI Futtaim
mj-section(background-color="#002529")
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 5%
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Down Payment
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 0%
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Interest
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 7 Years
        mj-text(padding="0" align="center" container-background-color="#327900" font-family="Philisopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Payment Plan
mj-section(background-color="#002529")
    mj-column
        mj-button(padding="0" align="center" background-color="#ffffff" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="20px" border-radius="0" color="#000000") Register your interest >>
        mj-button(padding="0" align="center" background-color="#ffffff" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="14px" border-radius="0" color="#000000") Dubai's first forest-living community
        mj-divider(border-width="1px" border-style="solid" border-color="#dddddd")