mj-section
    mj-column
        mj-divider
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="28px") Own a Forest-Living Property in Dubai
        mj-divider
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="22px") Ghaf Woods by Majid AI Futtaim
mj-section
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px") 5%
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px") Down Payment
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px") 0%
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px") Interest
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px") 7 Years
        mj-text(padding="0" align="center" font-family="Philisopher, Arial, Helvetica, sans-serif" font-size="15px") Payment Plan
mj-section
    mj-column
        mj-button(padding="0" align="0" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="20px") Register your interest >>
        mj-button(padding="0" align="0" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="14px") Dubai's first forest-living community
        mj-divider