mj-section
    mj-column
        mj-divider
        mj-text Own a Forest-Living Property in Dubai
        mj-divider
        mj-text Ghaf Woods by Majid AI Futtaim
mj-section
    mj-column
        mj-text 5%
        mj-text Down Payment
    mj-column
        mj-text 0%
        mj-text Interest
    mj-column
        mj-text 7 Years
        mj-text Payment Plan
mj-section
    mj-column
        mj-button Register your interest >>
        mj-button Dubai's first forest-living community
        mj-divider