mj-section(padding="0 50px" background-color="#073324")
    mj-column
        mj-divider(padding-top="19px" border-width="1px" border-style="solid" border-color="#dddddd")
        mj-text(padding="0" padding-top='12px' padding-bottom="15px" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="28px" color="#ffffff") Own a Forest-Living Property in Dubai
        mj-divider(border-width="1px" border-style="solid" border-color="#dddddd")
        mj-text(padding="0" padding-top="18px" padding-bottom="25px" align="center" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="22px" color="#ffffff") Ghaf Woods by Majid AI Futtaim
mj-section(padding="5px 46px" padding-bottom="40px" background-color="#073324")
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" padding-top="14px" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 5%
        mj-text(padding="0" padding-bottom="18px" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Down Payment
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" padding-top="14px" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 0%
        mj-text(padding="0" padding-bottom="18px" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Interest
    mj-column(padding="4px" width="33.333333%")
        mj-text(padding="0" padding-top="14px" align="center" container-background-color="#327900" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="36px" color="#EEF1F5") 7 Years
        mj-text(padding="0" padding-bottom="18px" align="center" container-background-color="#327900" font-family="Philisopher, Arial, Helvetica, sans-serif" font-size="15px" color="#DEE2E5") Payment Plan
//-mj-section(padding="0 35px" background-color="#073324")
    mj-column(width="100%")
        mj-button(padding="0" padding-top="32px" align="center" background-color="#ffffff" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="20px" border-radius="0" color="#000000") Register your interest >>
        mj-button(padding="0" padding-top="23px" align="center" background-color="#ffffff" font-family="Philosopher, Arial, Helvetica, sans-serif" font-size="14px" border-radius="0" color="#000000") Dubai's first forest-living community
    mj-column(padding-top="30px" padding-bottom="23px" width="100%")
        mj-divider(border-width="1px" border-style="solid" border-color="#dddddd")