mj-section
    mj-column
        mj-button Register your interest
        mj-image(src="images/exterieur.png" alt="")/
mj-section
    mj-column
        mj-text A forest at the heart of the city, surrounded by lush greenery and walking trails
    mj-column
        mj-divider
    mj-column
        mj-text Over 30,000 sq. ft. of retail, dining, and leisure spaces.
mj-section
    mj-column
        mj-text 10 Signature Amenties including
mj-section
    mj-column
        mj-image(src="images/diningLoung.png" alt="")/
        mj-text districkt club & dining lounge
    mj-column
        mj-image(src="images/playZone.png" alt="")/
        mj-text kids play zone
    mj-column
        mj-image(src="images/wellness.png" alt="")/
        mj-text distrikt wellness
    mj-column
        mj-image(src="images/swimPool.png" alt="")/
        mj-text main pool & shaded kids pool
    mj-column
        mj-image(src="images/climbingWall.png" alt="")/
        mj-text fitness studio & climbing wall
    mj-column
        mj-image(src="images/coworking.png" alt="")/
        mj-text co-working spaces
mj-section
    mj-column
        mj-image(src="images/interieur.png" alt="")/
        mj-button Register your interest

