mj-section(padding="0" mj-class="bgTF")
    mj-column(padding="40px 8.333333%" padding-top="20px" width="100%")
        mj-button(width="70%") Register your interest
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/exterieur.png" alt="")/
mj-wrapper(padding="0 8.333333%" background-color="#00412b")
    mj-section(padding="28px 24px" background-color="#513b07")
        mj-column(width="55%" padding="0 10px")
            mj-text(padding="0" mj-class="T16 cTW fw1" line-height="18px") A forest at the heart of the city, surrounded by lush greenery and walking trails
        mj-column(width="45%" padding="0 10px")
            mj-text(padding="0" mj-class="T16 cTW fw1" line-height="18px") Over 30,000 sq. ft. of retail, dining, and leisure spaces.
    mj-section(padding="25px 0" background-color="#002b1c")
        mj-column
            mj-text(padding="0" align="center" mj-class="T16 fw1 cTW" line-height="18px") 10 Signature Amenties including
    mj-section(background-color="#002b1c" padding="0")
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/diningLoung.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18px" text-transform="capitalize") districkt club & dining lounge
        mj-column(padding="0 18px" padding-bottom="24px" width="34%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/playZone.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18.5px" text-transform="capitalize") kids<br>play zone
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/wellness.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18px" text-transform="capitalize") distrikt<br>wellness
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/swimPool.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18px" text-transform="capitalize") main pool &<br>shaded kids pool
        mj-column(padding="0 18px" padding-bottom="24px" width="34%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/climbingWall.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18.5px" text-transform="capitalize") fitness studio & climbing wall
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/coworking.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW fw0" line-height="18px" text-transform="capitalize") co-working<br>spaces
        mj-column(width="100%")
            mj-image(padding="0" width="500px" src="images/bandeauVert.png" alt="")/
    mj-section(padding="0" padding-top="20px")
        mj-column
            mj-image(padding="0" width="500px" src="images/interieur.png" alt="")/
            mj-spacer(height="18px")
            mj-button(width="100%") Register your interest