mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/exterieur.png" alt="")/
mj-wrapper(padding="0 8.333333%" mj-class="bgV")
    mj-section(padding="28px 24px" background-color="#513b07")
        mj-column(width="55%" padding="0 10px")
            mj-text(padding="0" mj-class="T16 cTW0 fw1" line-height="1.3") A forest at the heart of the city, surrounded by lush greenery and walking trails
        mj-column(width="45%" padding="0 10px")
            mj-text(padding="0" mj-class="T16 cTW0 fw1" line-height="1.3") Over 30,000 sq. ft. of retail, dining, and leisure spaces.
    mj-section(padding="25px 0" mj-class="bgV+2")
        mj-column
            mj-text(padding="0" align="center" mj-class="T16 fw1 lh cTW0") 10 Signature Amenties including
    mj-section(padding="0" mj-class="bgV+2")
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/diningLoung.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") districkt club & dining lounge
        mj-column(padding="0 18px" padding-bottom="24px" width="34%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/playZone.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") kids play zone
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/wellness.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") distrikt wellness
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/swimPool.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") main pool & shaded kids pool
        mj-column(padding="0 18px" padding-bottom="24px" width="34%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/climbingWall.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") fitness studio & climbing wall
        mj-column(padding="0 18px" padding-bottom="24px" width="33%")
            mj-image(padding="0" padding-bottom="12px" width="64px" src="images/coworking.png" alt="")/
            mj-text(padding="0" align="center" mj-class="T14 cTW0 lh fw0" text-transform="capitalize") co-working spaces
        mj-column(width="100%")
            mj-image(padding="0" width="500px" src="images/bandeauVert.png" alt="")/
    mj-section(padding="0" padding-top="20px")
        mj-column
            mj-image(padding="0" width="500px" src="images/interieur.png" alt="")/
            mj-spacer(height="18px")
            mj-button(width="100%") Register your interest