mj-section(padding="0 0px" background-color="#073324")
    mj-column(padding="23px 50px" padding-top="20px" width="100%")
        mj-button(padding="0" width="100%" background-color="#9a7800" font-family="Montserrat, Arial, Helvetica, sans-serif" font-size="16px" color="#ffffff") Register your interest
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/exterieur.png" alt="")/
mj-section(padding="0 50px" background-color="#00412b")
    mj-column(width="55%" padding="28px 24px" background-color="#513b07")
        mj-text(padding="0" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="16px" font-weight="600" line-height="18px" color="#ffffff") A forest at the heart of the city, surrounded by lush greenery and walking trails
    mj-column(width="45%" padding="28px 24px" background-color="#513b07")
        mj-text(padding="0" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="16px" font-weight="600" line-height="18px" color="#ffffff") Over 30,000 sq. ft. of retail, dining, and leisure spaces.
mj-section(padding="0 50px" background-color="#00412b")
    mj-column(background-color="#002b1c" padding="25px 0px")
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="16px" color="#ffffff") 10 Signature Amenties including
mj-section(padding="0 50px" background-color="#00412b")
    mj-column(padding="0 18px" padding-bottom="24px" width="33%" background-color="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/diningLoung.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") districkt club & dining lounge
    mj-column(padding="0 18px" padding-bottom="24px" width="34%" background dor="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/playZone.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") kids<br>play zone
    mj-column(padding="0 18px" padding-bottom="24px" width="33%" background-color="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/wellness.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") distrikt<br>wellness
    mj-column(padding="0 18px" width="33%" background-color="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/swimPool.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") main pool & shaded kids pool
    mj-column(padding="0 18px" width="34%" background-color="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/climbingWall.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") fitness studio & climbing wall
    mj-column(padding="0 18px" width="33%" background-color="#002b1c")
        mj-image(padding="0" padding-bottom="12px" width="64px" src="images/coworking.png" alt="")/
        mj-text(padding="0" align="center" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" color="#ffffff") co-working<br>spaces
    mj-column(width="100%")
        mj-image(padding="0" width="500px" src="images/bandeauVert.png" alt="")/
mj-section(padding="0 50px" padding-top="20px" background-color="#00412b")
    mj-column
        mj-image(padding="0" width="500px" src="images/interieur.png" alt="")/
        mj-spacer(height="18px")
        mj-button(padding="0" width="100%" background-color="#9a7800" font-family="Montserrat, Arial, Helvetica, sans-serif" font-size="16px" color="#ffffff" border-radius="0") Register your interest

