mj-section(background-color="#241e10")
    mj-column
        mj-image(padding="0" width="91px" src="images/logoProjet.png" alt="")/
        mj-text(padding="0" align="center" mj-class="cTW0") A new altitude in working life
        mj-text(padding="0" align="center" mj-class="T16 cTW0 fw0" line-height="22px") 31 Above is a new sculptural landmark in Dubai Maritime City. Every element, from its stacked geometry to its refined public interiors, has been crafted to enhance performance, wellbeing, and connectivity.
mj-section(padding="0 50px" background-color="#241e10")
    mj-column
        mj-button(width="100%") Register your interest