mj-section(background-color="#000000")
    mj-column
        mj-image(padding="0" width="91px" src="images/logoProjet.png" alt="")/
        mj-text A new altitude in working life
        mj-text 31 Above is a new sculptural landmark in Dubai Maritime City. Every element, from its stacked geometry to its refined public interiors, has been crafted to enhance performance, wellbeing, and connectivity.
        mj-button(width="100%") Register your interest