mj-section(background-color="#241e10")
    mj-column(vertical-align="middle" width="46%")
        mj-image(css-class="form" padding="0" align="left" width="274px" fluid-on-mobile="true" src="images/vueCiel.png" alt="")/
    mj-column(css-class="padding" padding-left="20px" vertical-align="middle" width="54%")
        mj-spacer(height="30px")
        mj-text(padding="0" padding-bottom="10px" mj-class="T24 fw2 cTW0" line-height="30px") Location
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700") 20 min |] #[span(style="text-transform:capitalize") Dubai international airport]
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700") 15 min |] #[span(style="text-transform:capitalize") Dubai mall]
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700") 10 min |] Nearest school
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700;") 10 min |] #[span(style="text-transform:capitalize") Jumeirah beach] coastal line
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700") 05 min |] #[span(style="text-transform:capitalize") Mina rashid]
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700;") 10 min |] Nearest hospital
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0" line-height="22px") #[span(style="color:#9A7A56;font-weight:700") 15 min |] #[span(style="text-transform:capitalize") The gold souk]
        mj-spacer(height="30px")
mj-section(padding="0 50px" background-color="#241e10")
    mj-column
        mj-button(width="100%") Register your interest
