mj-section(background-color="#241e10")
    mj-column(vertical-align="middle" width="46%")
        mj-image(padding="0" align="left" width="274px" src="images/vueCiel.png" alt="")/
    mj-column(padding-left="20px" vertical-align="middle" width="54%")
        mj-spacer(height="30px")
        mj-text(padding="0" padding-bottom="10px" mj-class="T24 fw2 cTW0") Location
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700") 20 min |] Dubai international airport
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700") 15 min |] Dubai mall
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700") 10 min |] Nearest school
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700;") 10 min |] Jumeirah beach coastal line
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700") 05 min |] Mina Rashid
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700;") 10 min |] Nearest hospital
        mj-text(padding="0" padding-bottom="10px" mj-class="T16 fw0 cTW0") #[span(style="color:#9A7A56;font-weight:700") 15 min |] The gold souk
        mj-spacer(height="30px")
mj-section(padding="0 50px" background-color="#241e10")
    mj-column
        mj-button(width="100%") Register your interest
