mj-section(padding="0" padding-top="15px" background-color="#241e10")
    mj-column(padding="0 11px" width="100%")
        mj-image(padding="0" width="578px" src="images/building.png" alt="")/
mj-section(padding="0" background-color="#241e10")
    mj-column( padding="0 50px" padding-top="40px" width="63%")
        mj-text(css-class="center" padding="0" mj-class="T16 cTW0 fw0" line-height="22px")
         | 31 Above is a sculptural commercial landmark in Dubai Maritime City, designed to redefine modern working life through architecture rooted in balance, precision, and wellness. Rising in stacked volumes with landscaped terraces, the tower brings natural light, greenery, and perspective into every level, creating a workspace that inspires focus and connection.
    mj-column(width="37%")
        mj-image(padding="0" align="right" width="220px" src="images/suiteBuilding.png" alt="" css-class="desktop-only")/
    //-mj-column(width="37%" css-class="mobile-only")
        mj-image(padding="0" align="right" width="220px" src="images/suiteBuilding.png" alt="" css-class="mobile-only")/
mj-section(padding="25px 50px" background-color="#241e10")
    mj-column
        mj-button(width="100%") Register your interest 