mj-section(padding="0" padding-top="25px" background-color="#063323")
    mj-column(mj-class="bgV+2" padding="25px 40px" padding-bottom="15px")
        mj-text(padding="0" align="center" mj-class="T24 fw2 lh cTW0" text-transform="capitalize") location
mj-section(padding="0px 40px" mj-class="bgV+2")
    mj-column(width="50%" padding="8px")
        mj-text(padding="0" align="center" mj-class="T24 fw2 cTW0" text-transform="capitalize") 15 mins
        mj-text(padding="0" padding-top="20px" padding-bottom="35px" align="center" mj-class="T15 fw0 lh cTV-2" text-transform="capitalize") tilal ai ghaf & dubai hills
    mj-column(width="50%" padding="8px")
        mj-text(padding="0" align="center" mj-class="T24 fw2 cTW0" text-transform="capitalize") 20 mins
        mj-text(padding="0" padding-top="20px" padding-bottom="35px" align="center" mj-class="T15 fw0 lh cTV-2" text-transform="capitalize") dubai airport & mall of the emirates
    mj-column(width="50%" padding="8px")
        mj-text(padding="0" padding-top="10px" align="center" mj-class="T24 fw2 cTW0" text-transform="capitalize") 25 mins
        mj-text(padding="0" padding-top="20px" padding-bottom="35px" align="center" mj-class="T15 fw0 lh cTV-2" text-transform="capitalize") dubai marina & palm jumeirah
    mj-column(width="50%" padding="8px")
        mj-text(padding="0" padding-top="10px" align="center" mj-class="T24 fw2 cTW0" text-transform="capitalize") 5 mins
        mj-text(padding="0" padding-top="20px" padding-bottom="35px" align="center" mj-class="T15 fw0 lh cTV-2" text-transform="capitalize") shops, schools & wellness
mj-section(mj-class="bgV+2" padding="25px 8.333333%")
    mj-column
        mj-button(width="70%") Register your interest
        mj-text(padding="0" padding-top="40px" align="center" mj-class="T13 fw1 cTW0" line-height="15px" letter-spacing="1px") Copyright 2025. All rights reserved.
mj-section
    mj-column
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" mj-class="T12 fw0" line-height="18px" color="#666666") You are subscribed to this email as contact@ecosup-sante.fr
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" mj-class="T12 fw0" line-height="18px" color="#666666") Click here to modify your #[a(style="color:#666666" href="#") preferences] or #[a(style="color:#666666" href="#") unsubscribe]