mjml
    //- Head
    mj-head
        mj-title Ghaf Woods
        mj-font(name="Roboto" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap")/
        mj-font(name="Montserrat" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")/
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family="'Roboto', Arial, Helvetica, sans-serif")/
            //- font-size / line-height
            mj-class(name='T50' font-style="normal" font-size='50px')/
            mj-class(name='T36' font-style="normal" font-size='36px')/
            mj-class(name='T30' font-style="normal" font-size='30px')/
            mj-class(name='T28' font-style="normal" font-size='28px')/
            mj-class(name='T26' font-style="normal" font-size='26px')/
            mj-class(name='T24' font-style="normal" font-size='24px')/
            mj-class(name='T22' font-style="normal" font-size='22px')/
            mj-class(name='T20' font-style="normal" font-size='20px')/
            mj-class(name='T18' font-style="normal" font-size='18px')/
            mj-class(name='T16' font-style="normal" font-size='16px')/
            mj-class(name='T15' font-style="normal" font-size='15px')/
            mj-class(name='T14' font-style="normal" font-size='14px')/
            mj-class(name='T13' font-style="normal" font-size='13px')/
            mj-class(name='T12' font-style="normal" font-size='12px')/
            //- font-weight
            mj-class(name="fw0" font-weight="400")/
            mj-class(name="fw1" font-weight="600")/
            mj-class(name="fw2" font-weight="700")/
            //-line heigth
            mj-class(name="lh" line-height="1.2")/
            //- color
            mj-class(name="cTW" color="#ffffff")/
            mj-class(name="cTVTF" color="#000000")/
            mj-class(name="cTB" color="#000000")/
            mj-class(name="bgTF" background-color="#073324")/
            mj-class(name="bgVC" background-color="#212121")/
            mj-class(name="bgB" background-color="#000000")/
            //- compoments
            mj-divider(padding="0" border-style="solid" border-width="1px" border-color="#eeeeee")
            mj-button(padding="0" inner-padding="14px 25px" font-family="'Montserrat', Arial, Helvetica, sans-serif" font-size="16px" font-weight="700" line-height="18px" color="#ffffff" background-color="#9a7800" letter-spacing="3.5px" text-transform="uppercase" border-radius="0")
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#ffffff' width="600px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc menu offre
        block offre
            include ../includes/_offre
        //-bloc footer
        block footer
            include ../includes/_footer