extends templates/_layout
block content 
    mj-section(padding="0 20px" background-color="#073324")
        mj-column
            mj-text(padding="12px 0" align="center" font-size="14px" font-weight="400" line-height="20px" color="#ffffff") Having trouble seeing the below email? #[a(style="color:#ffffff" href="#") Click here to view it in your browser]