extends templates/_layout
block content 
    mj-section(padding="0 20px" mj-class="bgV+1")
        mj-column
            mj-text(padding="12px 0" align="center" mj-class="cTW0 fw0" font-size="14px" line-height="20px") Having trouble seeing the below email? #[a(style="color:#ffffff" href="#") Click here to view it in your browser]