mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="images/grandImmo.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo1.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo2.jpg" alt="")/
mj-section(padding="0 30px" background-color="#ffffff")
    mj-column(padding="0 30px" background-color="#eaeaea")
        mj-text(padding="0" padding-top="35px" padding-bottom="20px" align="center" mj-class="T50 fw0" color="#000000" line-height="58px") Amenities & services
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;Library, study area and meeting rooms
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;Games room, indoor and outdoor cinemas
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;Swimming pool, indoor and outdoor
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;Gymnasiums, fitness studios, yoga deck, pilates studio
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;Saunas, ice baths and therapy chambers
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;25m pool, jacuzzis, infinity pool and experiental showers
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw0" color="#000000" line-height="24px") &#11044;&nbsp;&nbsp;24/7 concierge, a la carte services and exclusive owners' community
        mj-text(padding="0" padding-top="35px" padding-bottom="55px" mj-class="T16 fw0" color="#000000" line-height="24px") Overlooking palm jumeirah, dubai harbour beachfront, emirates golf course, dubai marina, blue waters, and Ain dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="images/logoSelectGroup.png" alt="")/
mj-section(padding="0 30px" background-color="#ffffff")
    mj-column
        mj-button(width="100%") Enquire now