mj-section
    mj-column
        mj-image(src="images/dubai.jpg" alt="")/
mj-section
    mj-column
        mj-text Enjoy a lifestyle like no other
        mj-text Introducing six senses residences dubai marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text Ouverlooking palm jumeirah, dubai harbour beachfront, emirates golf course, dubai marina, blue waters, and ain dubai, owners can enjoy a lifestyle like no other with a range of first-class amenties and services.
        mj-button enquire now