mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="images/dubai.jpg" alt="")/
mj-section(padding="0 30px" background-color="#ffffff")
    mj-column(background-color="#212121" padding="0 40px")
        mj-text(padding="35px 0" align="center" mj-class="T60 fw0 cTW0" line-height="68px") Enjoy a lifestyle like no other
        mj-divider(padding="0" align="center" width="80px" border-style="solid" border-width="1px" border-color="#cccccc")
        mj-text(padding="35px 0" padding-bottom="15px" align="center" mj-class="T16 fw0 cTW0" line-height="24px") Introducing six senses residences dubai marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text(padding="0" padding-bottom="15px" align="center" mj-class="T16 fw0 cTW0" line-height="24px") Ouverlooking palm jumeirah, dubai harbour beachfront, emirates golf course, dubai marina, blue waters, and ain dubai, owners can enjoy a lifestyle like no other with a range of first-class amenties and services.
        mj-button(padding-top="32px" padding-bottom="41px" width="100%") enquire now