mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="images/dubai.jpg" alt="")/
mj-section(padding="0 5%" background-color="#ffffff")
    mj-column(padding="0 40px" mj-class="bgFsombre")
        mj-text(padding="35px 0" align="center" font-family="'Montserrat', Arial, Helvetica, sans-serif" mj-class="T60 fw0 cTW0" css-class="titleMobile" text-transform="capitalize") Enjoy a lifestyle like no other
        mj-divider(width="80px")
        mj-text(padding="35px 0" padding-bottom="15px" align="center" mj-class="T16 fw0 cTW0") Introducing six senses residences dubai marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text(padding="0" padding-bottom="15px" align="center" mj-class="T16 fw0 cTW0") #[span(style="text-transform:capitalize;") Overlooking palm jumeirah, dubai harbour beachfront, emirates golf course, dubai marina, blue waters,] and #[span(style="text-transform:capitalize;") ain dubai], owners can enjoy a lifestyle like no other with a range of first-class amenties and services.
        mj-button(padding-top="32px" padding-bottom="41px" width="100%") enquire now